---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate";
import BaseLayout from "@/layouts/BaseLayout";

const pageTitle = "Learning Clojure in Public";

const posts = (
  await getCollection("clojurefam", ({ data }) => {
    return data.publish === true;
  })
).sort((a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf());
---

<BaseLayout>
  <main>
    <h2>{pageTitle}</h2>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/clojurefam/${post.slug}/`}>
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                  <FormattedDate date={post.data.publishDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
