---
import Link from "@/components/Link";
import Icon from "@/components/Icon";
import BaseLayout from "@/layouts/BaseLayout";

const pageTitle = "Information";
---

<BaseLayout pageTitle={pageTitle}>
	<h2 class="text-xl font-semibold sm:text-2xl">Hello 👋🏻</h2>
	<br />
	<div class="flex flex-col justify-between">
		<p class="pb-2">
			My name is <strong>Mani</strong> and I am a software engineer/amateur photographer. I currently
			live in NYC with my wife, Khia and our 2 cats, Josie and <Link
				href="https://en.wikipedia.org/wiki/Jean-François_Champollion"
				>Jean-François Champollion</Link
			>.
		</p>
		<p class="pb-2">
			I've been writing code and building things since I was a young lad and got my hands on a <Link
				href="https://en.wikipedia.org/wiki/Lego_Mindstorms">Lego Mindstorms</Link
			>. That sparked my love for hacking together fun and silly things and I pursue that passion
			every day.
		</p>
		<p class="pb-2">
			I enjoy designing user experiences, building <em>lightweight</em> & effective tools that solve
			problems, real or contrived and contributing to open-source projects
		</p>
		<p class="pb-2">
			During my batch at the <Link href="https://recurse.com"> Recurse Center </Link><span
				class="font-mono text-base">(W2'24)</span
			>, I focused on -
			<ul class="list-inside list-disc">
				<li>Building CLI tools in Rust</li>
				<li>
					Learning the fundamentals of Microservices & Neural Networks via self-organized study
					groups
				</li>
				<li>Becoming a better Programmer by engaging my curiosity & building continuously</li>
				<li>
					Programming Language Theory via Stanford CS242 & <Link
						href="https://craftinginterpreters.com">Crafting Interpreters</Link
					>
				</li>
			</ul>
		</p>
	</div>
	<hr />
	<h3 class="pt-2 text-left text-xl font-semibold md:text-2xl">Hire me!</h3>
	<p class="pb-2">
		I also build websites for people for fun & profit. My most recent commission building <Link
			href="https://vramesh.com">vramesh.com</Link
		>. If you'd like to hire me to build you a website or for a full-time SWE Role, please reach out
		to me!
		<div class="flex flex-row">
			<p class="flex flex-row items-center pr-2">
				Email <Icon icon="email" />{": "}
			</p>
			<Link href="mailto:contact@itsrainingmani.dev">contact@itsrainingmani.dev</Link>
		</div>
		<div class="flex flex-row">
			<p class="flex flex-row items-center pr-2">
				LinkedIn <Icon icon="linkedin-logo" />
			</p>
			<Link href="https://linkedin.com/in/itsrainingmani">itsrainingmani</Link>
		</div>
		<div class="flex flex-row">
			<p class="flex flex-row items-center pr-2">
				Twitter <Icon icon="twitter-logo" />
			</p>
			<Link href="https://x.com/itsrainingmani">@itsrainingmani</Link>
		</div>
	</p>
	<hr />
	<details open class="m-auto rounded-md border-2 border-dashed border-gray-300 p-4">
		<summary class="text-md my-1 font-semibold hover:cursor-pointer sm:text-lg">Colophon</summary>
		<p>
			This website has several inspirations. I love the open nature of the web, precisely for how
			easy it is to view-source and understand how something cool works!
		</p>
		<p class="mt-1">
			Shoutout to
			<ul class="pl-4" style="list-style-type: circle; list-style-position: inside;">
				<li>
					<Link href="https://berkeleygraphics.com/">Berkeley Graphics</Link> and
					<Link href="https://neil.computer"> Neil Panchal </Link> for their awesome work on Berkeley
					Mono and being an immense source of design inspiration
				</li>
				<li>
					<Link href="https://elian.codes">Elian Codes</Link> for their beautiful web design skills and
					promoting Astro.js
				</li>
				<li>
					<Link href="https://dgerrells.com">David Gerrells</Link> for teaching me more about <Link
						href="http://dgerrells.com/blog/how-not-to-use-box-shadows">box shadows</Link
					> than I will ever need
				</li>
			</ul>
		</p>
		<p class="mt-1">
			Made with <Link href="https://astro.build">Astro.js</Link>, Styled with <Link
				href="https://tailwindcss.com"
			>
				Tailwind
			</Link> and hosted on <Link href="https://vercel.com">Vercel</Link>.
		</p>
		<p class="mt-1 w-fit">
			<a
				href="https://github.com/itsrainingmani/itsrainingmani.dev"
				class="flex flex-row items-center justify-start text-left text-blue-500 hover:cursor-alias hover:text-blue-700 hover:underline hover:underline-offset-2 hover:[text-decoration-skip-ink:auto]"
				>Source Code <Icon icon="github-logo" />
			</a>
		</p>
	</details>
	<style>
		.loading-emoji {
			display: inline-block;
			animation: spin 3s infinite linear;
		}
		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	</style>
</BaseLayout>
