---
import BlogTable from "@/components/BlogTable";
import BaseLayout from "@/layouts/BaseLayout";
import { getCollection } from "astro:content";
const pageTitle = "Home";

const posts = (
	await getCollection("blog", ({ data }) => {
		return data.publish === true && !data.tags.includes("ClojureFam");
	})
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<BaseLayout pageTitle={pageTitle}>
	<h1 class="text-right text-5xl font-bold">Overthunk</h1>
	<p>
		The formalism of the unitary operators implicitly uses the concept of time, since a unitary
		operator describes a change of state, but it says nothing a priori about space and mass. It
		seems falsely that space and mass are essentially classical concepts, that quantum physics does
		not explain their existence, and that therefore it can not explain by itself the classical
		appearances of the world. Most quantum equations have classical equivalents and we need the
		second ones to understand the first. Thus presented quantum physics is not autonomous in
		relation to classical physics, it is only a very particular way of using concepts borrowed from
		classical physics.
	</p>
	<hr />
	<BlogTable posts={posts} />
</BaseLayout>
