---
import WritingList from "@/components/WritingList";
import BaseLayout from "@/layouts/BaseLayout";
import { getCollection, type CollectionEntry } from "astro:content";
import { SOCIAL_LINKS } from "@/data/constants";
import Link from "@/components/Link";
import Icon from "@/components/Icon";
import CustomButton from "@/components/CustomButton";
const pageTitle = "Overthunk";

const posts = await getCollection("blog", ({ data }) => {
	return data.publish === true;
});

const clojurePosts = await getCollection("clojurefam", ({ data }) => {
	return data.publish === true;
});

const allPosts = [...posts, ...clojurePosts]
	.sort(() => 0.5 - Math.random())
	.slice(0, 5)
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<BaseLayout pageTitle={pageTitle}>
	<div
		class="children:block relative mb-0 flex flex-col items-center text-center md:items-end md:text-end"
	>
		<p class="mb-2">
			<span class="text-xl sm:text-3xl">Hi 👋! I'm </span>
			<span class="text-2xl font-semibold sm:text-4xl">Mani Sundararajan</span>
		</p>
		<div>
			<span class="text-lg sm:text-2xl">and I'm a </span>
			<span class="mb-1 inline-block w-fit pb-2 text-left text-2xl font-medium sm:mb-2 sm:text-3xl">
				<div class="marquee my-[-0.25em] inline-block h-[1.25em] overflow-hidden bg-inherit">
					<div
						class="children:gradient-text flex flex-col gap-4 whitespace-nowrap bg-inherit py-2 text-center [&>*]:bg-gradient-to-br [&>*]:bg-clip-text [&>*]:text-transparent"
					>
						<span class="from-blue-500 to-blue-600">Software Engineer</span>
						<span class="from-rose-500 to-rose-600">Keyboard Builder</span>
						<span class="from-teal-500 to-teal-500">Photographer</span>
						<span class="from-blue-500 to-blue-600" aria-hidden="true">Software Engineer</span>
					</div>
				</div>
			</span>
		</div>
	</div>
	<div class="my-2 flex w-full flex-col justify-between md:my-4 md:w-7/12">
		<p class="pb-2">
			I’m interested in learning about languages, <em>programming</em> or otherwise & exploring the streets
			of NYC with a 📷 in hand.
		</p>
		<p class="pb-2">
			I enjoy reading, hacking together <b class="whitespace-nowrap">✨non-utilitarian✨</b> software
			and building mechanical keyboards
		</p>
		<p class="pb-2">
			I was most recently part of the Winter 2 - 2024 batch at the <Link href="https://recurse.com">
				Recurse Center
			</Link>
		</p>
		<div
			class="children:block relative mb-0 flex flex-col items-center text-center md:items-end md:text-end"
		>
			<table class="datasheet w-full table-auto p-6 text-left [border-width:0.1rem] md:w-7/12">
				<thead class="bg-black align-middle text-white">
					<tr>
						<th
							colspan="2"
							class="text-xl font-semibold [padding-left:0.3rem] [padding-right:0.3rem]"
							>Datasheet</th
						>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="[padding-left:0.3rem] [padding-right:0.3rem]">
							<p class="flex flex-row items-center justify-self-start font-mono font-medium">
								<span class="pr-1">Location</span><Icon icon="location" />
							</p>
						</td>
						<td class="w-2/3"> New York City</td>
					</tr>
					<tr>
						<td class="[padding-left:0.3rem] [padding-right:0.3rem]">
							<p class="flex flex-row items-center font-mono font-medium">Current</p>
						</td>
						<td class="w-2/3">
							<Link href="https://recurse.com">Recurse Center </Link><span
								class="font-mono font-light">W2'24</span
							></td
						>
					</tr>
					<tr>
						<td class="[padding-left:0.3rem] [padding-right:0.3rem]">
							<p class="flex flex-row items-center font-mono font-medium">Past</p>
						</td>
						<td class="w-2/3">
							<ul style="list-style-type: circle;">
								<li>Mount Sinai <span class="font-mono font-light">'20-'23</span></li>
								<li>Derive Technologies <span class="font-mono font-light">'17-'20</span></li>
							</ul>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<CustomButton location={SOCIAL_LINKS["github"]} col="#2dba4e">
								<p class="flex flex-row items-center justify-center font-semibold">
									GitHub <Icon icon="github-logo" />
								</p>
							</CustomButton>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<CustomButton location={SOCIAL_LINKS["linkedin"]} col="#0077b5">
								<p class="flex flex-row items-center justify-center font-semibold">
									LinkedIn <Icon icon="linkedin-logo" />
								</p>
							</CustomButton>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- <div class="flex flex-col justify-between md:flex-row-reverse">

	</div> -->
		<hr class="my-4" />
		<p class="font-mono">Assorted 🎲 writing:&nbsp;</p>
		<WritingList posts={allPosts} />
	</div>
	<style>
		.marquee > div {
			animation: vertical-marquee 8s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
			--offset: -5px;
		}
		.datasheet {
			background-color: var(--light-paper);
			box-shadow: 2px 2px var(--usuzumiiro);
		}

		.datasheet tr {
			border: 0.1rem solid var(--roiro);
		}

		.datasheet td,
		th {
			padding: 0.75rem;
		}

		@keyframes vertical-marquee {
			0%,
			11.11% {
				transform: translateY(calc((0% / 4) + var(--offset)));
			}
			22.22%,
			44.44% {
				transform: translateY(calc((-100% / 4) + var(--offset)));
			}
			55.55%,
			77.77% {
				transform: translateY(calc((-200% / 4) + var(--offset)));
			}
			89.89%,
			100% {
				transform: translateY(calc((-300% / 4) + var(--offset)));
			}
		}
	</style>
</BaseLayout>
