---
import BaseLayout from "src/layouts/BaseLayout.astro";
const pageTitle = "OverThunk - Home";
---

<BaseLayout pageTitle={pageTitle}>
	<main>
		<h2>Technical Information</h2>
		<p>
			Welcome to the official <a href="https://astro.build/">Astro</a> blog
			starter template. This template serves as a lightweight, minimally-styled
			starting point for anyone looking to build a personal website, blog, or
			portfolio with Astro.
		</p>
	</main>
</BaseLayout>
