---
import Link from "@/components/Link";
import BaseLayout from "@/layouts/BaseLayout";

const pageTitle = "Information";
---

<script is:inline>
	function setCookie(name, value, expiryDate) {
		document.cookie = `${name}=${value};expires=${expiryDate.toUTCString()};path=/`;
	}

	function getCookie(name) {
		const cookies = document.cookie.split(";");
		for (let cookie of cookies) {
			const [cookieName, cookieValue] = cookie.trim().split("=");
			if (cookieName === name) {
				return cookieValue;
			}
		}
		return null;
	}

	function getMidnightEST() {
		const now = new Date();
		const est = new Date(now.toLocaleString("en-US", { timeZone: "America/New_York" }));
		est.setHours(24, 0, 0, 0);
		return est;
	}

	async function loadStreak() {
		const res = await fetch("https://itsrainingmani-duostreak.web.val.run");
		const { streak } = await res.json();

		return streak;
	}

	async function setStreak() {
		const streakSpan = document.querySelector("span#duo-streak");
		if (!streakSpan) return;

		let streak = getCookie("duo-streak");

		if (!streak) {
			streak = await loadStreak();
			setCookie("duo-streak", streak, getMidnightEST());
		}

		streakSpan.textContent = streak;
	}

	document.addEventListener("astro:after-swap", setStreak);
	document.addEventListener("astro:page-load", setStreak, { once: true });
</script>

<BaseLayout pageTitle={pageTitle}>
	<h2 class="text-2xl font-semibold">Hello 👋🏻</h2>
	<br />
	<p>
		My name is Mani and I am a software engineer/aspiring photographer. I’m interested in learning
		about languages, <em>programming</em> or otherwise & exploring the streets of NYC with a 📷 in hand
	</p>
	<br />
	<p>I currently live in NYC with my wife, Khia and 2 cats</p>
	<br />
	<p>
		In my free time, I enjoy reading, hacking together <b>✨non-utilitarian✨</b> software, building
		mechanical keyboards and learning Spanish & Japanese (<span class="font-mono" id="duo-streak"
			><span class="loading-emoji">↻</span></span
		> 🔥 on
		<Link href="https://www.duolingo.com/profile/itsrainingmani">Duolingo</Link>)!
	</p>
	<br />
	<p>
		I was most recently part of the Winter 2 - 2024 batch at the <Link href="https://recurse.com">
			Recurse Center
		</Link>. Follow along my journey <Link href="/recurse">here</Link>
	</p>
	<hr />
	<div class="rounded-md border-2 border-dashed border-gray-300 p-4">
		<h3 class="my-2 text-xl font-semibold">Colophon</h3>
		<ul style="list-style-type: circle;">
			<li>
				<p>
					Made with <Link href="https://astro.build">Astro.js</Link>, Styled with <Link
						href="https://tailwindcss.com"
					>
						Tailwind
					</Link> and hosted on <Link href="https://vercel.com">Vercel</Link>. Check out the
					<Link href="https://github.com/itsrainingmani/itsrainingmani.dev">source code.</Link>
				</p>
			</li>
			<li>
				<p>
					Shoutout to <Link href="https://berkeleygraphics.com/">Berkeley Graphics</Link> and
					<Link href="https://neil.computer"> Neil Panchal </Link> for their awesome work on Berkeley
					Mono and being an immense source of design inspiration
				</p>
			</li>
		</ul>
	</div>
</BaseLayout>

<style>
	.loading-emoji {
		display: inline-block;
		animation: spin 3s infinite linear;
	}
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
</style>
