---
import Link from "@/components/Link";
import BaseLayout from "@/layouts/BaseLayout";

const pageTitle = "Overthunk - Information";
---

<BaseLayout pageTitle={pageTitle}>
	<h2 class="text-2xl font-semibold">Hello.</h2>
	<br />
	<p>
		My name is Mani and I am a software developer/aspiring traveler from NYC. I’m interested in
		learning about languages (programming or otherwise)
	</p>
	<br />
	<p>
		In my free time, I enjoy reading books, hacking together <b>non-utilitarian</b> software and
		building mechanical keyboards.
		<hr />
		<h3 class="text-xl">Colophon</h3>
		<br />
		<p>
			This site is made with <Link href="https://astro.build">Astro.js</Link> and is currently
			hosted on Vercel. <br />Check out the source code
			<Link href="https://github.com/itsrainingmani">here</Link>
		</p>
	</p>
</BaseLayout>
