---
import Icon from "@/components/Icon";
import Link from "@/components/Link";
import { SOCIAL_LINKS } from "@/data/constants";
import BaseLayout from "@/layouts/BaseLayout";

const pageTitle = "Information";
---

<BaseLayout pageTitle={pageTitle}>
	<h2 class='text-2xl font-semibold'>Hello.</h2>
	<br />
	<p>
		My name is Mani and I am a software engineer/aspiring photographer from NYC. I’m interested in
		learning about languages (<em>programming</em> or otherwise) & exploring the streets of NYC with
		a 📷 in hand
	</p>
	<br />
	<p>
		In my free time, I enjoy reading books, hacking together <b>non-utilitarian</b> software,
		building mechanical keyboards and learning Spanish!
	</p>
	<br />
	<p>
		I'm currently part of the Winter 2 - 2024 batch at the <Link href='https://recurse.com'>
			Recurse Center
		</Link>. Follow along my journey <Link href='/recurse'>here</Link>
	</p>
	<hr />
	<h3 class='my-2 text-xl font-semibold'>Colophon</h3>
	<p>
		Made with <Link href='https://astro.build'>Astro.js</Link>, Styled with <Link
			href='https://tailwindcss.com'
		>
			Tailwind
		</Link> and hosted on <Link href='https://vercel.com'>Vercel</Link>. Check out the
		<Link href='https://github.com/itsrainingmani/itsrainingmani'>source code.</Link>
	</p>
	<br />
	<p>
		Huge thanks to <Link href='https://berkeleygraphics.com/'>Berkeley Graphics</Link> and <Link
			href='https://neil.computer'
		>
			Neil Panchal
		</Link> for their awesome work on Berkeley Mono and being an immense source of design
		inspiration
	</p>
</BaseLayout>
