---
import BaseLayout from "@/layouts/BaseLayout";

const pageTitle = "Overthunk - Information";
---

<BaseLayout pageTitle={pageTitle}>
	<p>
		The fundamental concepts of classical physics, space, time, mass, and derived concepts,
		velocity, momentum, force, angular momentum, energy ... all rest on the principle that material
		points have trajectories. They are defined as lines in space-time. Even the dynamics of
		continuous, solid or fluid media describes the trajectories of the material points which
		constitute the bodies in motion. But the indeterminacy relation of Heisenberg prevents quantum
		particles from having such classical trajectories, since their position and velocity can not be
		exactly defined at the same time. How then can it explain all the appearances which legitimize
		the fundamental concepts of classical physics?
	</p>
	<hr />
	<p>
		Systems, in one sense, are devices that take input and produce an output. A system can be
		thought to operate on the input to produce the output. The output is related to the input by a
		certain relationship known as the system response. The system response usually can be modeled
		with a mathematical relationship between the system input and the system output.
	</p>
	<hr />
	<p>
		The principle of relativity states that all inertial systems are "created equal": the laws of
		physics are the same as long as they are formulated with respect to an inertial frame — no
		matter which. The first three items tell us that one inertial frame is as good as any other
		frame as long as the other frame differs by a shift of the coordinate origin in space and/or
		time and/or by a rotation of the spatial coordinate axes. What matters in physics are relative
		positions, relative times, and relative orientations (the orientations of objects relative to
		each other), inasmuch as these are unaffected by translations in space and/or time and by
		rotations of the spatial axes. In the physical world, there are no absolute positions, absolute
		times, or absolute orientations.
	</p>
	<hr />
	<p>
		Physical systems can be divided up into a number of different categories, depending on
		particular properties that the system exhibits. Some of these system classifications are very
		easy to work with and have a large theory base for analysis. Some system classifications are
		very complex and have still not been investigated with any degree of success. By properly
		identifying the properties of a system, certain analysis and design tools can be selected for
		use with the system.
	</p>
	<hr />
	<p>
		Electronic modes (their polarization features are described by Spin 1/2) are calculated by the
		Dirac equation, or, to a very good approximation in cases where the theory of relativity is
		irrelevant, by the Schrödinger equation and the Pauli equation. Modes of Spin 0 would be
		calculated by the Klein-Gordon equation. In order to calculate the modes exposed to potentials
		that attract or repulse the waves or, equivalently, exposed to a change in refractive index and
		wave impedance, or exposed to magnetic fields, there are several equations depending on the
		polarization features of the modes.
	</p>
</BaseLayout>
