---
import Link from "@/components/Link";
import BaseLayout from "@/layouts/BaseLayout";

const pageTitle = "Overthunk - Information";
---

<BaseLayout pageTitle={pageTitle}>
	<h2 class="text-2xl font-semibold">Hello.</h2>
	<br />
	<p>
		My name is Mani and I am a software developer/aspiring traveler from NYC. I’m interested in
		learning about languages (programming or otherwise)
	</p>
	<br />
	<p>
		In my free time, I enjoy reading books, hacking together <b>non-utilitarian</b> software and
		building mechanical keyboards.
	</p>
	<br />
	<p>
		I'm currently part of the Winter 2 - 2024 batch at the <Link href="https://recurse.com">
			Recurse Center
		</Link>. Follow along my journey <Link href="https://recurse.itsrainingmani.dev">here</Link>
	</p>
	<hr />
	<h3 class="text-xl font-semibold">Colophon</h3>
	<br />
	<p>
		This site is made with <Link href="https://astro.build">Astro.js</Link> and is currently hosted
		on <Link href="https://vercel.com">Vercel</Link>. Check out the
		<Link href="https://github.com/itsrainingmani">source code</Link>
	</p>
</BaseLayout>
