---
import { Image } from "astro:assets";
import deadEndSign from "@/assets/dead-end-sign.jpeg";
import BaseLayout from "@/layouts/BaseLayout";
const pageTitle = "Photos";
---

<BaseLayout pageTitle={pageTitle}>
	<!-- <h2 class='text-center text-2xl font-bold'>Coming Soon!</h2> -->
	<hr />
	<!-- <Image src={deadEndSign} alt='A Dead End Sign' /> -->
	<a data-flickr-embed='true' href='https://www.flickr.com/photos/191525685@N06' title=''
		><img
			src='https://live.staticflickr.com/65535/53290673589_095ab0148d_h.jpg'
			width='1600'
			height='1200'
			alt=''
		/></a
	><script async src='//embedr.flickr.com/assets/client-code.js' charset='utf-8'></script>
</BaseLayout>
