---
import Link from "@/components/Link";
import BaseLayout from "@/layouts/BaseLayout";

const pageTitle = "Recurse";
---

<BaseLayout pageTitle={pageTitle}>
	<h2 class="text-2xl font-semibold">Welcome to my Experience at Recurse</h2>
	<br />
	<p>
		This page is going to function as a sort of Digital Garden 🪴 of my experience at the Winter 2,
		2024 batch. I will be adding notes, links to projects, articles and generally just writing about
		how I'm feeling going forward
	</p>
</BaseLayout>
