---
interface Props {
	location: string;
	class?: string;
}
const { location, class: className } = Astro.props;
---

<a
	class:list={[
		"-top-0.5 mr-1 inline-block h-8 w-fit cursor-pointer select-none appearance-none whitespace-nowrap border-solid border-black bg-[#dcdddd] px-2 pt-0.5 text-center align-middle text-black transition duration-300 ease-in-out [border-width:0.1rem]",
		className,
	]}
	href={location}
>
	<slot />
</a>
