---
const { location, col } = Astro.props;

const hoverBgColor = col ?? "rgba(108, 198, 68)";
---

<a
	class="custom-action -top-0.5 inline-block h-8 w-full cursor-pointer select-none appearance-none whitespace-nowrap border-solid border-black bg-white px-2 pt-0.5 text-center align-middle text-black transition duration-300 ease-in-out [border-width:0.1rem]"
	href={location}
>
	<slot />
</a>
<style define:vars={{ hoverBgColor }}>
	.custom-action {
		background-color: var(--shironezu);
	}
	.custom-action:hover {
		background-color: var(--hoverBgColor);
		border-width: 2px;
	}
	.custom-action:active {
		color: blue;
	}
</style>
