---
const today = new Date();
---

<footer>
	<div>
		<small
			>&copy; {today.getFullYear()}&nbsp;<a
				href="https://github.com/itsrainingmani">Mani Sundararajan</a
			>. All rights reserved.</small
		>
	</div>
	<div><abbr></abbr></div>
</footer>
<style>
	footer {
		margin-top: 4rem;
		padding-top: 0.5rem;
		border-color: var(--usuzumiiro);
		border-top: 1px solid;
		clear: both;
		color: var(--usuzumiiro);
		fill: var(--usuzumiiro);
	}
</style>
