---
const today = new Date();
import Icon from "@/components/Icon";
import { ICON_LINKS } from "@/data/constants";
import Webring from "./Webring.astro";
---

<footer class="mt-auto flex flex-col">
	<Webring />
	<section id="footer-element">
		<small
			>&copy; {today.getFullYear()}&nbsp;<a
				class="underline decoration-dotted underline-offset-2 hover:cursor-alias hover:text-sky-800"
				href="https://github.com/itsrainingmani">Mani Sundararajan</a
			>. <em>All rights reserved.</em></small
		>
		<p class="socials">
			{
				ICON_LINKS.map(({ href, icon, label }) => (
					<a href={href} class="social">
						<span class="sr-only">{label}</span>
						<Icon icon={icon} />
					</a>
				))
			}
		</p>
	</section>
</footer>
<style>
	#footer-element {
		padding-top: 0.5rem;
		border-color: var(--usuzumiiro);
		border-top: 1px solid;
		clear: both;
		color: var(--usuzumiiro);
		fill: var(--usuzumiiro);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.socials {
		display: flex;
		flex-wrap: wrap;
		gap: 0.625rem;
		font-size: 1.125em;
		/* font-size: var(--icon-size); */
	}

	.social {
		display: flex;
		text-decoration: none;
		color: var(--usuzumiiro);
		transition: color var(--nezuogusa);
	}

	.social:hover,
	.social:focus {
		color: var(--roiro);
	}
</style>
