---
import HeaderLink from "@/components/HeaderLink";
---

<header class="mb-2 border-b border-b-gray-300 pb-2">
	<!-- <span class="hamburger">Menu</span> -->
	<nav>
		<div class="nav-section grid columns-4 grid-flow-col gap-2 text-center">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Writing</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/info">Info</HeaderLink>
			<HeaderLink href="/photos">Photos</HeaderLink>
		</div>
	</nav>
</header>
<!-- <hr /> -->
<style>
	.nav-section {
		grid-auto-columns: minmax(0, 1fr);
	}
</style>
