---
import HeaderLink from "@/components/HeaderLink";
---

<header class="flex justify-around">
	<span class="hamburger">Menu</span>
	<nav class="nav-links">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Writing</HeaderLink>
		<HeaderLink href="/projects">Projects</HeaderLink>
		<HeaderLink href="/info">Info</HeaderLink>
	</nav>
</header>
