---
import HeaderLink from "@/components/HeaderLink";
import Blocky from "@/assets/blocky.png";
import { Picture } from "astro:assets";
import { HEADER_LINKS } from "@/data/constants";
---

<header class="mb-2 border-b border-b-gray-300 pb-2">
	<div
		class="flex flex-row-reverse items-center justify-center sm:flex-row sm:items-center sm:justify-between"
	>
		<h2 class="mb-2 ml-2 flex flex-col sm:ml-0">
			<a class="page-title font-mono text-3xl font-bold sm:text-left sm:text-4xl" href="/"
				>overthunk ltd.</a
			>
			<small class="font-mono text-xs sm:text-left sm:text-sm">A Solitary Software Production</small
			>
		</h2>
		<a href="/">
			<Picture
				src={Blocky}
				alt="3D portrait of a weird little guy"
				formats={["avif", "webp"]}
				class="h-20 w-auto sm:h-24"
			/>
		</a>
	</div>
	<nav>
		<div
			class="nav-section grid auto-cols-fr grid-flow-row-dense grid-cols-2 gap-2 text-center sm:grid-cols-4"
		>
			{HEADER_LINKS.map((header) => <HeaderLink href={header.href}>{header.label}</HeaderLink>)}
		</div>
	</nav>
</header>

<style>
	.page-title {
		display: inline-block;
		padding-bottom: 2px;
		background-image: linear-gradient(var(--sabinezu) 0 0);
		background-position: 0 100%;
		background-size: 0% 4px;
		background-repeat: no-repeat;
		transition:
			background-size 0.5s,
			background-position 0s 0.5s;
	}

	.page-title:hover {
		color: var(--sabinezu);
		background-position: 100% 100%;
		background-size: 100% 4px;
	}
</style>
