---
import HeaderLink from "@/components/HeaderLink";
---

<header class="mb-2 border-b border-b-gray-300 pb-2">
	<h2 class="mb-2 text-center font-mono text-3xl font-bold sm:text-left">
		<a href="/">Overthunk</a>
	</h2>
	<nav>
		<div
			class="nav-section grid auto-cols-fr grid-flow-row-dense grid-cols-2 gap-2 text-center sm:grid-cols-4"
		>
			<HeaderLink href="/blog">Writing</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/info">Info</HeaderLink>
			<HeaderLink href="/photos">Photos</HeaderLink>
		</div>
	</nav>
</header>
