---
import { SITE_TITLE } from "src/consts";
import HeaderLink from "./HeaderLink.astro";
---

<header class="flex justify-between">
	<a href="/">
		<h2 class="bold">{SITE_TITLE}</h2>
	</a>
	<span class="hamburger">Menu</span>
	<nav class="nav-links">
		<HeaderLink href="/blog">Writing</HeaderLink>
		<HeaderLink href="/projects">Projects</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
</header>
