---
const { href, external } = Astro.props;

const isExternal =
	external ??
	(!href.startsWith("/") && !href.startsWith("#") && !href.includes("itsrainingmani.dev"));
---

<a
	class:list={[
		"max-w-max text-left text-blue-500 hover:cursor-alias hover:text-blue-700 hover:underline hover:underline-offset-2 hover:[text-decoration-skip-ink:auto]",
		{ "after:font-sans after:content-['_↗']": isExternal },
	]}
	href={href}
>
	<slot />
</a>
