<section class="mt-4 block text-center font-mono text-sm font-medium md:text-lg">
	<a id="rc-ring-prev" class="ring-prev text-red-500" href="https://ring.recurse.com/prev?id=20"
		>←Prev</a
	>
	<a data-rc-uuid="638cde16-1db0-4a7a-9e0f-af6a09bd3dba" href="https://ring.recurse.com/">
		The Recurse Webring</a
	>
	<a id="rc-ring-rand" class="ring-rand" href="https://ring.recurse.com/rand">Rand 🎲</a>
	<a id="rc-ring-next" class="ring-next text-purple-600" href="https://ring.recurse.com/next?id=20"
		>Next→</a
	>
</section>
<style>
	a {
		max-width: max-content;
		text-align: left;
		cursor: alias;
	}

	a:hover {
		color: #1a365d; /* Replace with the desired shade of darker blue for hover state */
		text-decoration: underline;
		text-decoration-offset: 2px;
		text-decoration-skip-ink: auto;
	}

	.rand-color {
		animation: rainbow 4s ease 2s infinite reverse;
	}

	@keyframes rainbow {
		0% {
			color: black;
		}
		20% {
			color: #ff00a0;
		}
		40% {
			color: #fe75fe;
		}
		60% {
			color: #ff0000;
		}
		80% {
			color: #73fffe;
		}
	}
</style>
