---
import FormattedDate from "@/components/FormattedDate";
import type { CollectionEntry } from "astro:content";

interface Props {
	posts: (CollectionEntry<"blog"> | CollectionEntry<"clojurefam">)[];
}
const { posts } = Astro.props;
---

<div>
	<ul class="m-0 list-none p-0">
		{
			posts.map((post) => (
				<li class="gap-x-2">
					<span class="text-base md:text-lg">&#8599;</span>
					<a
						class="max-w-max text-left text-base text-blue-500 hover:cursor-alias hover:text-blue-700 hover:underline hover:underline-offset-2 hover:[text-decoration-skip-ink:auto] md:text-lg"
						href={`/blog/${post.slug}/`}
					>
						{post.data.title}
					</a>
					<div class="inline-block text-sm md:text-base">
						<FormattedDate date={post.data.publishDate} />
					</div>
				</li>
			))
		}
	</ul>
</div>
