---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout";

const pageTitle = "Technical Dispatch";
const projects = (await getCollection("projects")).sort(
	(a, b) => b.data.createdYear - a.data.createdYear,
);
---

<BaseLayout>
	<div class="my-4 flex flex-col md:flex-row">
		<h1 class="basis-2/3 self-start text-left text-4xl">{pageTitle}</h1>
		<blockquote class="basis-1/3 border-l border-l-black px-3 py-1.5 italic text-gray-500">
			Systems, in one sense, are devices that take input and produce an output. A system can be
			thought to operate on the input to produce the output.
		</blockquote>
	</div>
	<hr />
	<div class="project-section grid grid-flow-row auto-rows-max grid-cols-2 gap-2 text-center">
		{
			projects.map((project) => (
				<div class="flex aspect-video flex-col justify-center border border-black">
					<h4 class="title">{project.data.title}</h4>
					<p class="date">
						<span>{project.data.createdYear}</span>
					</p>
				</div>
			))
		}
	</div>
</BaseLayout>
<style>
	.project-section {
		/* display: grid; */
		/* grid-template-columns: repeat(2, 1fr); */
		/* grid-auto-rows: minmax(1fr, 0); */
	}
</style>
