---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "@/components/BaseHead";
import Header from "@/components/Header";
import Footer from "@/components/Footer";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/data/constants";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<script
			src="https://raw.githack.com/Qwuke/recurse-ring/main/static/ring.js"
			type="text/javascript"></script>
		<BaseHead title={pageTitle} description={SITE_DESCRIPTION} />
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
