---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={pageTitle} description={SITE_DESCRIPTION} />
  </head>
  <body class="max-w-5xl">
    <Header />
    <slot />
    <Footer />
    <script>
      document.querySelector(".hamburger").addEventListener("click", () => {
        document.querySelector(".nav-links").classList.toggle("expanded");
      });
    </script>
  </body>
</html>
