---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout";

type Props = CollectionEntry<"blog">["data"];

const { title, description, publishDate } = Astro.props;
---

<BaseLayout pageTitle={title}>
	<article class="lg:proxe-xl prose max-w-none">
		<div class="not-prose blog-title">
			<h1 class="pb-0 text-4xl">{title}</h1>
			{description && <h3 class="italic">{description}</h3>}
			<div class="date">
				<h4 class="font-mono font-light">
					{
						publishDate.toLocaleDateString("en-US", {
							year: "numeric",
							month: "short",
							day: "numeric",
						})
					}
				</h4>
			</div>
		</div>
		<hr class="not-prose my-2" />
		<slot />
	</article>
</BaseLayout>
