---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate";
import BaseLayout from "@/layouts/BaseLayout";
import Action from "@/components/Action";

type Props = CollectionEntry<"blog">["data"];

const { title, description, publishDate } = Astro.props;
---

<BaseLayout>
	<article>
		<div class="prose">
			<div class="title">
				<div class="date">
					<FormattedDate date={publishDate} />
				</div>
				<h1>{title}</h1>
				{description && <p>{description}</p>}
				<hr />
			</div>
			<slot />
		</div>
	</article>
</BaseLayout>
